@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration-line: none;
    color: black;
}

.popup {
    width: 360px;
    height: 280px;
    font-family: 'BMJUA';
}

.components{
    width: 360px;
    height: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Title{
    width: 360px;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
}

.title{
    width: 260px;
    margin-left: 20px;
}

.title_img{
    width: 25%;
    margin: 5px;
    float: right;
}

.shortcut_1{
    width: 360px;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.shortcut_2{
    width: 360px;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.shortcut{
    width: 80px;
    height: 80px;
    flex-direction: column;
    margin: 5px;
}

.List{
    width: 360px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.list{
    width: 81px;
    height: 20px;
    margin: 10px 3.5px 0px 3.5px;
    border: 1px;
    border-style: solid;
    border-color: white white #244379;
    transition: all 0.15s;
}

.list:hover{
    border-bottom: 3px;
    font-size: 10pt;
    border-style: solid;
    border-color: white white #244379;
}